[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# testing packages
pytest = "*"
pytest-cov = "*"
WebTest = "*"
factory-boy = "*"

# Lint and code style
black = "==20.8b1"
flake8 = "*"
flake8-blind-except = "*"
flake8-debugger = "*"
flake8-docstrings = "*"
flake8-isort = "*"
isort = "*"
mypy = "*"
pep8-naming = "*"
pylint = "*"

# self
e1839a8 = {path = ".",editable = true}

[packages]
# Flask
Flask = "~=1.1"

# Flask Static Digest
Flask-Static-Digest = "~=0.2.1"

# API
flask-smorest = "~=0.29.0"
marshmallow-sqlalchemy = "~=0.24.2"
Flask-JWT-Extended = "~=4.1.0"

email-validator = "*"
Flask-Caching = "~=1.9"
flask-cors = "~=3.0.8"
Flask-DebugToolbar = "~=0.11"
Flask-WTF = "~=0.14.2"
WTForms = "~=2.3.1"
Flask-Login = "~=0.5.0"
fm_database = {git = "https://github.com/nstoik/fm_database",editable = true}
python-dotenv = "~=0.14"

[requires]
python_version = "3.9"
