[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# testing packages
pytest = "*"
pytest-flask = "*"
pytest-runner = "*"
pytest-factoryboy = "*"
WebTest = "*"
factory-boy = "*"
isort = "*"
# dev packages
pylint = "*"
e1839a8 = {path = ".",editable = true}

[packages]
alembic = "*"
email-validator = "*"
Flask = "~=1.1"
Flask-Caching = "~=1.9"
flask-cors = "~=3.0.8"
Flask-DebugToolbar = "~=0.11"
Flask-Marshmallow = "~=0.13"
marshmallow-sqlalchemy = "~=0.23"
Flask-RESTful = "~=0.3.7"
Flask-JWT-Extended = "~=3.24.0"
Flask-SQLAlchemy = "~=2.4.0"
Flask-WTF = "~=0.14.2"
WTForms = "~=2.3.1"
Flask-Login = "~=0.5.0"
Flask-Manage-Webpack = "*"
fm_database = {git = "https://github.com/nstoik/fm_database",editable = true}
python-dotenv = "~=0.14"
# for Postgresql
psycopg2 = "~=2.8"

[requires]
python_version = "3.8"
