[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
# testing packages
pytest = "*"
pytest-flask = "*"
pytest-runner = "*"
pytest-factoryboy = "*"
WebTest = "*"
factory-boy = "*"
flake8 = "*"
flake8-blind-except = "*"
flake8-debugger = "*"
flake8-docstrings = "*"
flake8-isort = "*"
flake8-quotes = "*"
isort = "*"
pep8-naming = "*"
# dev packages
pylint = "*"
"e1839a8" = {path = ".", editable = true}

[packages]
python-dotenv = "~=0.10.3"
itsdangerous = "~=1.1.0"
click = "~=7.0.0"
# for Postgresql
# psycopg2 = "*"
gunicorn = "~=19.9.0"
Flask = "~=1.1.1"
MarkupSafe = "~=1.1.1"
Werkzeug = "~=0.15.4"
Jinja2 = "~=2.10.1"
Flask-Marshmallow = "~=0.10.1"
marshmallow-sqlalchemy = "~=0.17.0"
Flask-RESTful = "~=0.3.7"
flask-cors = "~=3.0.8"
Flask-JWT-Extended = "~=3.20.0"
Flask-SQLAlchemy = "~=2.4.0"
Flask-WTF = "~=0.14.2"
WTForms = "~=2.2.1"
Flask-Webpack = "~=0.1.0"
Flask-Login = "~=0.4.1"
Flask-Caching = "~=1.7.2"
Flask-DebugToolbar = "~=0.10.1"
fm_database = {git = "https://github.com/nstoik/fm_database", editable = true}

[requires]
python_version = "3.6"
