<!-- Sidebar  -->
<nav class="navbar navbar-dark bg-dark" id="sidebar">
    <ul class="navbar-nav mr-auto mt-auto">
        <li class="nav-item {% if request.endpoint.endswith('public.home') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('public.home') }}">Home</a>
        </li>
        <li class="nav-item {% if request.endpoint.endswith('public.about') %}active{% endif %}">
            <a class="nav-link" href="{{ url_for('public.about') }}">About</a>
        </li>
    </ul>
</nav>

<!-- top navbar -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="{{ url_for('public.home') }}">
        Farm Monitor
    </a>
    <button type="button" id="sidebarCollapse" class="btn btn-primary mr-auto">
        <i class="fa fa-align-left"></i>
        <span>Sidebar</span>
    </button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        {% if current_user and current_user.is_authenticated %}
        <ul class="navbar-nav my-auto ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('user.members') }}">
                    {{ current_user.username }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id='logoutButton' href="{{ url_for('public.logout') }}">
                    Logout &nbsp;<i class="fa fa-sign-out"></i>
                </a>
            </li>
        </ul>
        {% elif form %}
        <form class="form form-inline ml-auto" id="loginForm" method="POST" action="/" role="login">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            {{ form.username(placeholder="Username", class_="form-control mr-1 mt-2") }}
            {{ form.password(placeholder="Password", class_="form-control mr-1 mt-2") }}
            <button class="btn btn-primary mt-2 ml-auto" type="submit">Login</button>
        </form>
        {% endif %}
    </div><!-- /.navbar-collapse -->
</nav>
      